* {
    box-sizing: border-box;
}
:root{
    --header-bg: #10375C;
}
html {
    font-size: 62.5%;
 }

body {
    font-size: 1.6rem;
    font-family: "Sora", serif;
}
/*Css dung chung*/
.container {
    width: 1170px;
    max-width: calc(1170 - 48px);/*Khi chieu dai cua trang web nho hon 1170 thi giup cho trang le trai va phai co kc 24px*/
    margin: 0 auto;/*can giua*/
}
.section-heading{
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -0.01em;
}
.section-desc{
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}
a {
    text-decoration: none;
}
.btn {
    --height:60px;
    line-height: var(--height);
    border-radius: 99999999px;
    min-width: 205px;
    display: inline-block;
    background: #2E80CE;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    height: var(--height);
    padding: 0 20px;
    text-align: center;
    border: 1px solid #2E80CE ;
}
.btn:hover{
    opacity: 0.8;
    cursor: pointer;
}
.control {
    display: flex;
    column-gap: 18px;
}

/**/
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}
.logo {
    display: inline-flex;/*vua co thuoc tinh cua flex va vua co inline giong box do khong bi rong ra*/
    font-size: 1rem;/*tai sao lai dung rem vi khi dung rem minh quy dinh no la 10px*/
    position: relative;
}
.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}
.logo__circle::before{
    width: 3em;/*tai sao lai dung em hay vi dung rem bua gi
     em se phu thuoc kich thuoc truoc do o tren hinh minh css 
     font size la 1rem duoi day em se lay font-size nhu v.Neu sau nay khach hang muon phong to logo len 
     thi minh chi can sua font-size cua rem thi cac em se tu thay doi*/
    height: 3em;
    background: #2e80ce; 
}
.logo__circle::after{
    width: 1.6em;
    height: 1.6em;
    background: #fff;
    position: absolute;
    top: 1.1em;
    left: 1.1em;
}
.logo__text{
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em

}
.logo__brand {
    display: block;
    color: #FFF;
    font-size: 1.8em;
    font-style: normal;
    font-weight: 400;
}
.logo__brand--small{
    font-size: 1.2em;
    font-weight: 300;
}
/*Header top*/
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list {
  display: flex;
}
.header-action__login,
.navbar__link {
    padding: 4px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #C9D2DA;
}
.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active::before {
    position: relative;
    top: -2px;
    left: -8px;
  content: "" ;
  display:inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}
.header-action{
    display: flex;
    align-items: center;
}
.header-action__login{
    margin-left: 7px;
}
.header-action__signup{
    --height:44px;
    min-width: 104px;
}
/*Phan css hero*/
.hero {
    flex-shrink: 0;/*Giup chu hoac hinh anh khong bi coi nho */
    margin-top: 76px;
    display: flex;
    align-items: center ;
}
.hero__content {
    width: 44%;
}
.hero__media{
    flex-grow: 1; /* Cong dung cua flex-grow se giup phan tu chien het dien tich con lai */  
}
.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -0.02em;
}
.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}
.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.hero__phone {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}
.hero__images {
 display: flex;
  align-items: center;
  justify-content: flex-end;/*de cho box di chuyen vai cuoi*/
}
.hero__img{
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}
.hero__img:first-child{
    position: relative;
    margin-right: -6px;
}
.hero__img:last-child{
    width: 210px;
    height: 410px;
}
/* Service */
.service{
    padding: 170px 0;
}
.service__heading,
.service__desc{
    text-align: center; /* can chu ra giua trang*/
}
.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;/*dung de can giua khi co chieu dai*/ 
}
.service__row{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
}
.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;/*Cong dung can anh o giua*/
}
.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #FFF;
    transition: 0.25s;
}
.service-item:hover {
   position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.service-item:hover .service-item_icon {
    background-color: #2E80CE;
    color: #fff;

}
.service__list {
    margin-bottom: 55px;
}
.service-item_icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    flex-shrink: 0;
    color: #10375C;
     display: flex;
     justify-content: center;
      align-items: center;
    background-color: #EFF6FD;
    box-shadow: 0 8px 6px rgba(0,0,0,0.05);
    transition: 0.25s;
}
.service-item__body{
    margin-left: 20px;

}
.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.27;
}
.service-item__desc {
    margin-top: 8px; 
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.work {
    background: #F6FBFF;
    padding: 100px 0;
}
.work_desc {
    width: 468px;

}
.work__list{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);/*dung repeat 3 de lap laij gia cot 3 lan,Tao ra 3 cot bang nhau "fr"*/
    column-gap: 30px;/*Tao khoang cach cac cot = column-gap*/

}
.work__item {
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    padding: 44px;
    transition: 0.25s;
}
.work__item:hover {
    transform: translateY(-16px);
    border-color:#2E80CE ;
}

.work-item__heading{
    margin-top: 20px;
    color: #10375C;
    font-size:2.6rem;
    font-weight: 600;
    line-height:1.38; /* 138.462% */
}
.more,
.work-item__desc {
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.more {
    display: inline-block;/*Do the a la the inline nen ko ap dung dc margin-top nen can de thanh inline-block*/
    margin-top: 18px;
    transition: 0.25s;
}
.work__item:hover .more{
    color: pink;
}
/* feature */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}
.feature__inner{
    display: flex;
    column-gap: 130px;
    align-items: center;
}

.feature__media {
    width: 48%;
}
.feature__images{
    position: relative;
   padding: 0 58px 121px 0;

}
.feature__img{
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}
.feature__img:last-child{
    width: 332px;
    height: 370px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.feature__cta{
    margin-top: 53px;
}
/* member */
.member {
   padding: 85px 0;
   text-align: center;
}
.member__header {
 display: flex;
 flex-direction: column;/*giup pt tu ngang thanh doc*/
 align-items: center;
}
.member__cta{
    margin-top: 38px;
}
.member-item{
 
}
.member__list{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
}
.member__control{
    justify-content: center;
    margin-top: 38px;
}
.member-item__img-bg{
    padding-top: 28px;
    border-radius: 6px;
    background: #EAF6FF;
    overflow: hidden;/*an noi dung neu noi dai ra ngoai*/
}
.member-item:hover .member-item__thumb{
    transform: scale(1.1);
}
.member-item__thumb{
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
}
.member-item__name {
    margin-top: 12px;
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75; /* 175% */
}
.member-item__title {
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85; /* 185.714% */
}

.control-btn{
     display: flex;
     justify-content: center;
      align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575F66;
    outline: none;
    color: #575F66;
    background: #fff;
    transition: 0.25s;
}
.control-btn:hover {
    color: #fff;
    border-color: #2E80CE;
    background: #2E80CE;
    cursor: pointer;
}
.control__right{
    rotate: 180deg;
}
/* install */
.install {
    margin-top: 180px;
}
.install__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    border-radius: 4px;
    background: #2E80CE;
}
.install__img{
    display: block;
    width: 248px;
    height: 522px;
    margin-top: -95px;
    object-fit: cover;
}
.install__content {
    max-width: 586px;
}
.install__heading,
.install__desc{
    color:#fff;
}
.install__heading{
    max-width: 500px;
}
.install__row {
    display: flex;
    column-gap: 28px;
    margin-top: 38px;
}
/* .install__btn {
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
} */
 /* News */
 .news{
    margin-top: 85px;
    padding: 85px 0;
 }
 .news__inner {
     display: flex;
     justify-content: center;
      align-items: center;
 }
 .news__content {
    flex-shrink: 0;
 }
 .news__heading {
    max-width: 470px;

 }
 .news__more {
    display: inline-block;
    margin-top: 28px;
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: underline; /*lam gach chan duoi*/
    text-underline-offset: 5px;/*neu gach chan chua xuong duoi thi dung*/
    line-height: 1.55; /* 155.556% */
 }
 .news__control {
    margin-top: 28px;
 }
 .news__list {
    max-width: 570px;
    display: flex;
    column-gap: 30px;
 }
 .news-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;

 }
 .news-item:hover {
    transform: translateY(-16px);
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
 }
 .news-item:hover .news-item__body{
    border-color: #FFF;
 }
 .news-item__thumb {
    display: block;
    width: 100%;
    height: 172px;
    object-fit: cover;
 }
 .news-item__body {
    padding: 24px 24px 16px ;
    border: 1px solid #E8EBEE;
    background: #FFF;
    border-top: none;
    border-radius: 0 0 12px 12px;
    transition: 0.25s;
 }
 .news-item__heading{
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.625; /* 162.5% */
 }
 .news-item__desc{
    margin-top: 10px;
    color: #575F66;
    font-size:1.2rem;
    font-weight: 300;
    line-height: 1.71;/* 171.429% */
 }
 .new-item__more{
    display: inline-block;
    margin-top: 10px;
    color: #10375C;
    font-size: 1.4rem;
    font-weight: 500;
  
 }
.new-item__more:hover{
    color:#2E80CE;
 }
 /* appointment */
 .appointment {
    margin-top: 85px 0 170px;
 }
 .appointment__niner {
 background: #F6FBFF;
 padding: 100px 70px;
 text-align: center;
 }
.appointment__heading::before {
    content: "";
    width: 136px;
    height: 2px;
    background: #2E80CE;
}